{% for category in categories %}
    <a class="p-2 text-dark" href="{{path('video_list', {'categoryname': category.name|slugify, 'id':category.id})}}">{{ category.name }}</a>
{% endfor %}
<a class="p-2 text-dark" href="{{path('admin_main_page')}}">My account</a>
